.todo-block {
  padding: 8px;
  min-height: 140px;
  > div {
    padding: 8px;
  }
  >.todo-empty {
    line-height: 140px;
    text-align: center;
  }
}
.todo-title {
  font-size: 1.2rem;
  
  >span {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space : nowrap;
    max-width:240px;
  }
  .title-category {
    font-size: 1rem;
    color: rgba(0, 0, 0 , 0.64);
    margin-left: 16px;
  }
}

.todo-progress {
  padding-top: 0;
}

.todo-content {
  p {
    margin: 1px 0;
  }
  p:first-child {
    margin-top: 1em;
  }
  p:last-child {
    margin-bottom: 1em;
  }
}

.todo-author {
  font-size: 0.85rem;
  color: rgba(0, 0, 0 , 0.54);
  text-align: right;
}

.todo-message, .todo-action {
  margin-top: 8px;
}

.todo-action {
  text-align: right;
  button:not(:last-child) {
    margin-right: 8px;
  }
}

.todo-form {
  padding: 16px;
}

.todo-search {
  width: 100%;
  >div:first-child {
    width: 100%;
  }
  #search-input {
      padding: 8px 6px;
      padding-left: 0;
  } 
}
