.todo-block {
  padding: 16px;
  min-height: 140px;
}
.todo-title {
  height: 24px;
  font-size: 1.2rem;
}
.todo-content {
  padding: 16px 0;
}
.todo-author {
  font-size: 0.85rem;
  color: rgba(0, 0, 0 , 0.54);
  text-align: right;
}
.todo-message {
  margin-top: 24px;
}
.todo-action {
  margin-top: 24px;
  text-align: right;
  button:not(:last-child) {
    margin-right: 8px;
  }
}
.todo-form {
  padding: 16px;
}