$bgColor: #EEEEEE;

body {
  background-color: $bgColor;
}

.button-container {
  text-align: center;
  > a {
    width: 100%;
    font-size: 1rem;
  }
}

.input-button {
  padding: 0 !important;
  color: rgba(0, 0, 0, .43);
  svg{
    width: 0.9rem;
    height: 0.9rem;
  }
}

.outline-block {
  outline: black solid 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.text-right {
  text-align: right;
}