$bgColor: #EEEEEE;

body {
  background-color: $bgColor;
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 5vh;
}

.button-container {
  text-align: center;
  > a {
    width: 100%;
    font-size: 1rem;
  }
}