.container {
  width: 100%;
  .topbar {
    .topbar-container {
      width: 100%;
      height: 48px;
      text-align: right;
    }
    .topbar-grid {
      height: 100%;
      width: 100%;
      padding-right: 16px;
    }
    .topbar-info {
      margin-top: 4px;
    }
    .topbar-user {
      display: inline-block;
      transform: translateY(-7px);
    }
  }
  .content {
    width: 80%;
    margin: 0 auto;
    margin-top: 64px;
  }
}